body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
}
/* ABOUT ME SECTION */
.about-me {
  color: #696969;
  padding: 0 20px 20px;
  width: 40%;
}

.about-me img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  padding: 40px 20px;
}

.about-me h1 {
  color: #4a4e51;
  font-family: "Varela Round", sans-serif;
  font-size: 2.5em;
}

.about-me h3 {
  color: #696969;
  padding: 30px 0;
}

.about-me ul {
  padding: 10px;
}

.about-me li {
  list-style-type: none;
  padding: 5px 0;
}

.list-titles {
  float: left;
  text-align: right;
  font-weight: 600;
  width: 30%;
  color: #4a4e51;
}

.list-content {
  float: left;
  width: 70%;
  text-align: left;
}
/* EDUCATION AND EXPERIENCE SECTION */
/* desc #999999 */
/* header #fff */
.experience {
  background-color: #3d3e42;
  color: #999999;
  padding: 20px;
  width: 60%;
}
.experience h5 {
  color: #66cc99;
}

.head-title {
  color: #fff;
}
.main-title {
  color: #66cc99;
}

/* PROJECTS GALLERY SECTION */

.portfolio {
  background-color: #3d3e42;
  padding: 0 40px;
  padding-bottom: 40px;
}
.portfolio h5 {
  padding: 50px 0 20px 0;
  color: #66cc99;
}

@media (max-width: 768px) {
  body {
    margin: 20px;
  }
  .about-me {
    width: 100%;
  }
  .experience {
    width: 100%;
  }
}
